table.sortable tr.rowodd {
	background-color: #FFF;
}

table.sortable tr.roweven {
	background-color: #F2F2F2;
}

table.sortable th.sortasc,table.sortable td.sortasc {
	background-color: #DDFFAC;
}

table.sortable th.sortdesc,table.sortable td.sortdesc {
	background-color: #B9DDFF;
}

.sortcol {
	cursor: pointer;
}

.jqTableKitNoneselectable {
	user-select: none;	
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	cursor: e-resize;
}

.resize-handle-active {
	cursor: e-resize;
}

div.resize-handle {
	cursor: e-resize;
	width: 2px;
	border-right: 1px dashed #1E90FF;
	position:absolute;
	top:0;
	left:0;
}